{% extends "base.html" %}
{%block content%}
{% load humanize %}
{% if messages %}
    <div id="success-alert" class="alert alert-success">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<!--styling for the messages-->

<style>
    /* Style the alert box */
    #success-alert {
        position: fixed;
        top: 20px;
        right: -300px; /* Start off-screen */
        z-index: 9999;
        width: 250px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #d4edda;
        color: #155724;
        font-size: 14px;
        transition: right 0.5s ease, opacity 0.5s ease; /* Smooth slide and fade-out */
    }

    /* Optional: Add a success icon */
    #success-alert p {
        margin: 0;
        padding: 0;
    }
</style>

<!--javascript for the messages-->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alert = document.getElementById('success-alert');
        if (alert) {
            // Slide in
            setTimeout(() => {
                alert.style.right = '20px'; 
            }, 100); 

            // Slide out after 5 seconds
            setTimeout(() => {
                alert.style.right = '-300px'; 
                alert.style.opacity = '0'; 
                setTimeout(() => alert.remove(), 500); 
            }, 5000); 
        }
    });
</script>


<!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4"> Exceptional <span class="text-primary"> Rentals </span> for Exceptional Living</h1>
                    <p class="animated fadeIn mb-4 pb-2">Experience Seamless Renting with RentChain: Your Gateway to Hassle-Free Living in the Perfect Space.</p>
                    <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel" >
                        {% for image in property_images %}
                        <div class="owl-carousel-item"style="height:85vh">
                            <img class="img-fluid" style="height:80vh"src="{{ image.image.url }}" alt="">
                        </div>
                        {%endfor%}                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->

         <!-- About Start -->
         <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="../static/img/about.jpg">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">Revolutionizing Real Estate</h1>
                        <p class="mb-4">RentChain is an innovative platform transforming the rental market by making it easy and efficient to find and rent properties. With its user-friendly interface, comprehensive property listings, and secure transaction processes, RentChain simplifies every step of the rental journey. Whether you're searching for a short-term lease or a long-term rental, RentChain connects you to the ideal living space quickly and reliably. 🌟</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Ease of Use</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Comprehensive Listings</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Secure Transactions</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="https://consensys.io/blockchain-use-cases/real-estate">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Property Types</h1>
                    <p>The types of properties listed on Rentchain.</p>
                </div>
               
                <div class="row g-4">
                    {% for category, properties in properties_by_category.items %}
                        {% if properties.exists %}
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
                                    <div class="icon mb-3">
                                        {% with properties.first.images.first as first_image %}

                                        <img class="img-fluid" src="{{ first_image.image.url }}" alt="Property Image">
                                        {% endwith %}

                                    </div>
                                    <h6>{{ category }}</h6>
                                    <span>{{ properties.first.location }}</span>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
                
            </div>
        </div>
        <!-- Category End -->


        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3">Property Listing</h1>
                            <p>Properties on our site currently.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">

                            {% for u in units %}
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="property-item rounded overflow-hidden">
        <div class="position-relative overflow-hidden">
            {% if u.images.all|length > 0 %}
            {% if u.status == 'sold' or u.status == 'rented' or u.status == 'leased' %}
            <!-- Inactive Property Image -->
                    <img class="img-fluid opacity-50" src="{{ u.images.all.0.image.url }}" alt="{{ u.name }}">
                {% else %}
                    <!-- Active Property Image -->
                    <a href="{% url 'property_detail' u.id|stringformat:"i" %}">
                        <img class="img-fluid" src="{{ u.images.all.0.image.url }}" alt="{{ u.name }}">
                    </a>
                {% endif %}
            {% else %}
            {% if u.status == 'sold' or u.status == 'rented' or u.status == 'leased' %}
            <img class="img-fluid opacity-50" src="/path/to/default/image.jpg" alt="No image available">
                {% else %}
                    <a href="{% url 'property_detail' u.id|stringformat:"i" %}">
                        <img class="img-fluid" src="/path/to/default/image.jpg" alt="No image available">
                    </a>
                {% endif %}
            {% endif %}

            <!-- Property Type Badge -->
            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                For {{ u.t_type }}
            </div>

            <!-- Category Badge -->
            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                {{ u.category }}
            </div>

            <!-- Status Overlay -->
            {% if u.status == 'sold' or u.status == 'rented' or u.status == 'leased' %}
            <div class="bg-danger text-white position-absolute top-50 start-50 translate-middle text-center py-2 px-4 rounded">
                    {{ u.status|capfirst }}
                </div>
            {% endif %}
        </div>
        <div class="p-4 pb-0">
            {% if u.status == 'sold' or u.status == 'rented' or u.status == 'leased' %}
            <h5 class="text-secondary mb-3">KSH. {{ u.price|intcomma }}</h5>
                <p class="d-block h5 mb-2 text-muted">{{ u.name }}</p>
            {% else %}
                <h5 class="text-primary mb-3">KSH. {{ u.price|intcomma }}</h5>
                <a class="d-block h5 mb-2" href="{% url 'property_detail' u.id|stringformat:"i" %}">{{ u.name }}</a>
            {% endif %}
            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ u.location }}</p>
        </div>
        <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2">
                <i class="fa fa-ruler-combined text-primary me-2"></i>{{ u.size }} Sqft
            </small>
            <small class="flex-fill text-center border-end py-2">
                <i class="fa fa-bed text-primary me-2"></i>{{ u.beds }} Bed
            </small>
            <small class="flex-fill text-center py-2">
                <i class="fa fa-bath text-primary me-2"></i>{{ u.baths }} Bath
            </small>
        </div>
    </div>
</div>
{% endfor %}

                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <a class="btn btn-primary py-3 px-5" href="/real-estate-html-template/property-list.html">Browse More Property</a>
                            </div>
                        </div>
                    </div> 
{%endblock%}