{% extends "base.html" %}
{%block content%}
<!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4"> Exceptional <span class="text-primary"> Rentals </span> for Exceptional Living</h1>
                    <p class="animated fadeIn mb-4 pb-2">Experience Seamless Renting with RentChain: Your Gateway to Hassle-Free Living in the Perfect Space.</p>
                    <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel" >
                        {% for image in property_images %}
                        <div class="owl-carousel-item"style="height:85vh">
                            <img class="img-fluid" style="height:80vh"src="{{ image.image.url }}" alt="">
                        </div>
                        {%endfor%}                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Property Types</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
               
                <div class="row g-4">
                    {% for category, properties in properties_by_category.items %}
                        {% if properties.exists %}
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
                                    {% with properties.first.images.first as first_image %}
                                    <div class="icon mb-3">
                                        <img class="img-fluid" src="{{ first_image.image.url }}" alt="Property Image">
                                    </div>
                                    {% endwith %}
                                    <h6>{{ category }}</h6>
                                    <span>{{ properties.first.location }}</span>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
                
            </div>
        </div>
        <!-- Category End -->


        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3">Property Listing</h1>
                            <p>Properties on our site currently.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">

                            {% for u in units %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        {% if u.images.all|length > 0 %}
                    <a href="{% url 'property_detail' u.id|stringformat:"i" %}"><img class="img-fluid" src="{{ u.images.all.0.image.url }}" alt="{{ p.name }}"></a>
                {% else %}
                    <a href=""><img class="img-fluid" src="/path/to/default/image.jpg" alt="No image available"></a>
                {% endif %}
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For {{u.t_type}}</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{u.category}}</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">KSH. {{ u.price }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'property_detail' u.id|stringformat:"i" %}">{{ u.name }}</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ u.location }}</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{u.size}} Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{u.beds}} Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{u.baths}} Bath</small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
        
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <a class="btn btn-primary py-3 px-5" href="/real-estate-html-template/property-list.html">Browse More Property</a>
                            </div>
                        </div>
                    </div>
                    
        <!-- Property List End -->
        <!-- Call to Action Start -->
        {% comment %} <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded w-100" src="img/call-to-action.jpg" alt="">
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="mb-4">
                                    <h1 class="mb-3">Contact With the Owner</h1>
                                    <p>Have a chat with the brains behind this idea</p>
                                </div>
                                <a href="#" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- Call to Action End -->


     


        

        
{%endblock%}