<!-- transaction_history.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Transaction History</h2>

  <div class="transaction-history">
    {% for transaction in transaction_messages %}
            <div class="transaction-bubble {% if transaction.type == 'sent' %}sent{% else %}received{% endif %}">
            <p>
                <p>{{ transaction.message }}</p>
            </p>
        </div>
    {% endfor %}
</div>


<style>
   
    
    h2 {
        text-align:center;
        margin:20px;
        text-decoration:underline
 }
    
  
    /* Transaction History Page */
    .transaction-history{
        padding: 20px;
        width:50%;
        margin-left:25%;
        background-color: #FCF5E5;
        border-radius:20px
    }
    
   
    .transaction-timeline {
        max-width: 400px;
        margin: 0 auto;
    }
    
    .transaction-bubble {
        margin: 10px 0;
        padding: 15px;
        border-radius: 10px;
        font-size: 0.9rem;
        line-height: 1.5;
        word-wrap: break-word;
       
    }
    
    .transaction-bubble.sent {
        background-color: #e9f5ff;
        border-left: 5px solid #007bff;
        margin-left:50%;
    }
    
    .transaction-bubble.received {
        background-color: #d4edda;
        border-left: 5px solid #28a745;
        width:50%
    }
    
    
</style>

{%endblock%}
